.title {
  text-align: center;
  background-color: yellow;
}

.h1{
  font-size: 5em;
}

.grid-container {
  border: 3px dashed black;
  padding: 1em;
  margin: 2em;
  display: grid;
  grid-gap: 1em 2em;
  grid-row: auto;
  grid-template-columns: repeat(5, 1fr);
}

.grid-item {
  border: 2px solid black;
  padding: 6em;
  background-color: papayawhip;
}

.grid-container {
  grid-template-areas:
                      "head head pic pic pic"
                      "gull gull pic pic pic"
                      "gull gull pic pic pic"
                      "gull gull pic pic pic";

}
.one {
  grid-area: head;
}
.two {
  grid-area: pic;
}
.three {
  grid-area: gull;
}






nav {
  display: grid;

  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1em;
  align-items: center;
  text-align: center;
  border: 4px solid black;
  background-image: url("https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/e35/s480x480/47690274_377888796355214_3347241544442522007_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&oh=2b6ab06b6b66e8cffc921d83a53ba743&oe=5DF7542B&ig_cache_key=MTk1ODk1MTk3NDUxNjU4OTg1MQ%3D%3D.2");
  padding: 4em
}

@media screen and (max-width: 900px) {
  nav {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 1em;
 }
}

.t1 {
  grid-column: 1;
}

.t2 {
  grid-column: 2;
}

.t2.5{
  grid-column: 3;
}

.t3 {
  grid-column: 4;
}

.t4 {
  grid-column: 5;
}

.navLinks {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.navLinks:hover {
  color: white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 1em 1em;
}

#twist {
  color: blue;
}





.grid-container3 {
  background-image: url("https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/e35/s480x480/47690274_377888796355214_3347241544442522007_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&oh=2b6ab06b6b66e8cffc921d83a53ba743&oe=5DF7542B&ig_cache_key=MTk1ODk1MTk3NDUxNjU4OTg1MQ%3D%3D.2");
  border: 3px dashed black;
  padding: 1em;
/*-- enables grid layout--*/
  display: grid;
  grid-gap: 1em 5em;
  margin: 2em;
  justify-content: center;
  grid-template-columns: repeat(3, 0.5fr);

}

.grid-item3 {
  border: 2px solid black;
  padding: 6em;
  background-color: papayawhip;
}

.grid-container3 {
  grid-template-areas:
                      "one3 two3 three3"
                      "four3 five3 six3";

}
.one3 {
  grid-area: one3;
}
.two3 {
  grid-area: two3;
}
.three3 {
  grid-area: three3;
}
.four3 {
  grid-area: four3;
}
.five3 {
  grid-area: five3;
}
.six3 {
  grid-area: six3;
}



  .flex-container {
    margin: 2em;
    border: 3px dashed black;
    padding: 1em;
    display: flex;
    justify-content: center;
    background-color: ;
  }


  .flex-container > div {
    background-color: #f1f1f1;
    width: 11em;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  footer {
      position: relative;
      height: 100px;
      width: 100%;
      background-color: #333333;
  }

  p.copyright {
      position: absolute;
      width: 100%;
      color: #fff;
      line-height: 40px;
      font-size: 0.7em;
      text-align: center;
      bottom:0;
  }
