.title {
  text-align: center;
  background-color: yellow;
}

.grid-container {
  border: 3px dashed purple;
  padding: 1em;
/*-- enables grid layout--*/
  display: grid;
  grid-gap: 1em 2em;
  grid-template-columns: repeat(3, 1fr);
}

.grid-item {
  border: 2px solid black;
  padding: 9em;
  background-color: papayawhip;
}

.grid-container {
  grid-template-areas:
                      "head feat1 feat1"
                      "feat2 feat1 feat1"
                      "feat2 feat1 feat1";

}
.one {
  grid-area: head;
}
.two {
  grid-area: feat1;
}
.three {
  grid-area: feat2;
}
